/* Initial def */
body{
	background-color: #fdfdfd;
}

/* Font definition */
body{
	font-family: "Raleway";
	font-size: 1rem;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 300;
	margin: 0.5rem 0 0.5rem 0;
	padding: 0px;
}
h1{
	font-size: 3.5rem;
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2.5rem;
}
h4{
	font-size: 2rem;
}
h5{
	font-size: 1.5rem;
}
h6{
	font-size: 1rem;
}

/* grid */
.container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	width: 100%;
}
.row{
	width: 100%;
	margin-top: 0px;
}

.one.column{ width: 100%; }
.two.columns{ width: 100%; }
.three.columns{ width: 100%; }
.four.columns{ width: 100%; }

@media (min-width: 700px){
	.container{
		margin-top: 5rem;
		width: 67%;
	}

	.one.columns{ width: 25%; }
	.two.columns{ width: 50%; }
	.three.columns{ width: 75%; }
	.four.columns{ width: 100%; }
}


/* forms */
input{
	box-sizing: border-box;
	border: 1px solid #D1D1D1;
	padding: 10px 7px;
	display: block;
	margin-bottom: 0.5rem;
}

label{
	display: block;
	width: 100%;
	margin-bottom: 0.5rem;
}
label.inline{
	margin-top: 0.5rem;
}

textarea:focus, input:focus{
	box-shadow: 0px 0px 2px #CAFFC7;
	border: 1px solid #CAFFC7;
}

/* Buttons */
.btn, .btn:visited{
	-moz-appearance: none;
	background-color: #B4FEB0;
	color: #04BF00;
	border: none;
	padding: 0px 33px;
	cursor: pointer;
	display: block;
	box-sizing: border-box;
	display: inline-block;
	font-size: 11px;
	text-decoration: none;
	font-weight: 400;
	line-height: 38px;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0.05rem;
}
.btn:hover, .btn:active{
	background-color: #339c00;
	color: #B4FEB0;
}

/*links*/
a:hover, a:active{
	color: #339C00;
}
a:visited{
	color: black;
}

/* Helper Class */
.inline{ display: inline-block; }
.pull.right{ float: right; margin: 0;}
.pull.left{ float: left; }
.pull::after{ clear: both; }
.clear{ clear: both; }
.fullwidth{ width:100%; }
.clearoverflow{ overflow: auto; }

/*etc*/
.logo{
	display: none;
}

.profile.small{
	height: 38px;
}

.separate{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
@media (min-width: 550px){
	.nomargin{ margin: 0; }
	.navtop{
		overflow: auto;
		background: -webkit-linear-gradient(#CAFFC7, #B4FEB0);
		background: -o-linear-gradient(#CAFFC7, #B4FEB0);
		background: transparent -moz-linear-gradient(#CAFFC7, #B4FEB0);
		background: linear-gradient(#CAFFC7, #B4FEB0);
		border: 1px solid #B2FAAC;
		border-top: none;
		border-left: none;
		border-right: none;
		padding: 0.825rem;
	}
	.logo{
		display: block;
		height: 38px;
		padding-left: 5rem;
	}

	.profile.name{
		margin: 1rem;
		margin-left: 0.25rem;
		margin-top: 0px;
		position: relative;
		top: -0.8rem;
		text-decoration: none;
		color: #04BF00;
	}

	.profile.name:hover{
		color: #04BF00;
		text-decoration: underline;
	}

	.profile.self > .profile.small{
		height: 30px;
		margin: 0.25rem;
		padding: 0px;
	}

	.profile.self:hover{
		background-color: #339c00;
	}

	.line{
		height: 1px;
		background-color: #aaa;
		content: "";
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}
}
